# Python virtual environment
seatech_chatbot/
*.pyc
__pycache__/
*.pyd
*.whl
*.zip
*.env

# Data / cache / models
models/
cache/

# Cache RAG Albert pré-calculé pour Render
!cache/
cache/*
!cache/albert_chunk_embeddings.pkl
!cache/albert_chunks_with_sources.pkl
